.loading {
  width: 100vw;
  height: 60vh;
  &__logo {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      height: 30rem;
    }

    &-center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-text {
      left: 50%;
      transform: translate(-50%, 110%);
      animation: moveInBottom 3s ease-out 0.1s infinite;
      animation-fill-mode: backwards;
    }

    &-hand1 {
      animation: moveInLeft 3s ease-out infinite;
    }

    &-hand2 {
      animation: moveInRight 3s ease-out infinite;
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
  }
  50% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
  }
  50% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 130%);
  }
  50% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 110%);
  }
  100% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 110%);
  }
}
