<div
  class="request-button"
  *ngIf="userBorr && userLend && itemToLend && itemToBorrow"
>
  <div class="borrow-page-request">
    <div class="borrow-page-request__user">
      <div class="borrow-page-request__user-username">
        <span class="bold">Username: </span>
        <span> {{ userBorr.username + " (You)" }}</span>
      </div>
      <div class="borrow-page-request__user-location">
        <span class="bold">Location: </span>
        <span> {{ userBorr.location }}</span>
      </div>
      <div class="borrow-page-request__user-game">
        <span class="bold">Game owned: </span>
        <span> {{ itemToLend.title }}</span>
      </div>
      <img src="{{ itemToLend.img }}" alt="item to lend" />
    </div>
    <div class="borrow-page-request__darrow">&#8596;</div>
    <div class="borrow-page-request__user">
      <div class="borrow-page-request__user-username">
        <span class="bold">Username: </span>
        <span> {{ userLend.username }}</span>
      </div>
      <div class="borrow-page-request__user-location">
        <span class="bold">Location: </span>
        <span> {{ userLend.location }}</span>
      </div>
      <div class="borrow-page-request__user-game">
        <span class="bold">Game owned: </span>
        <span> {{ itemToBorrow.title }}</span>
      </div>
      <img src="{{ itemToBorrow.img }}" alt="item to borrow" />
    </div>
  </div>
  <button (click)="createExchange()" class="borrow-page-request__send">
    Create
  </button>
</div>
