.item-card {
  font-size: 3rem;
  display: flex;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  justify-content: space-between;
  width: 60rem;
  p {
    align-self: center;
  }
  select {
    align-self: center;
    height: 3rem;
    width: 10rem;
  }
  img {
    height: 20rem;
  }
}
