<div class="navbar">
  <div class="navbar__logo">
    <img src="../../assets/logo/circle.png" alt="circle-logo" />
    <img src="../../assets/logo/hand-1.png" alt="hand-1-logo" />
    <img src="../../assets/logo/hand-2.png" alt="hand-2-logo" />
    <img
      class="navbar__logo-text"
      src="../../assets/logo/borrowlend.png"
      alt="borrowlend-logo"
    />
  </div>
  <div class="navbar__actions">
    <ul>
      <li><a href="#">Search</a></li>
      <li><a href="#">Borrow</a></li>
      <li><a href="#">Requests</a></li>
    </ul>
  </div>
  <div class="navbar__user">
    <ul>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
