@import "../../../../variables.scss";

.user-card {
  color: $color-black;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid $color-black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  width: 50rem;
  transition: linear 0.1s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.bold {
  font-weight: 700;
}
