<div class="exchange-card-lend">
  <div class="exchange-card-lend__users">
    <div class="exchange-card-lend__users-1">
      <p>User borrowing</p>
      <p>{{ exchange.userBorrowing.username }}</p>
      <p>{{ exchange.userBorrowing.location }}</p>
      <p *ngIf="exchange.accepted">{{ exchange.userBorrowing.email }}</p>
      <p>{{ exchange.itemLent.title }}</p>
      <img src="{{ exchange.itemLent.img }}" alt="item to lend" />
    </div>
    <div class="exchange-card-lend__users-2">
      <p>User lending</p>
      <p>{{ exchange.userLending.username }}</p>
      <p>{{ exchange.userLending.location }}</p>
      <p *ngIf="exchange.accepted">{{ exchange.userLending.email }}</p>
      <p>{{ exchange.itemBorrowed.title }}</p>
      <img src="{{ exchange.itemBorrowed.img }}" alt="item to borrow" />
    </div>
    <div *ngIf="exchange.accepted === null">Yellow</div>
    <div *ngIf="exchange.accepted === true">Green</div>
    <div *ngIf="exchange.accepted === false">Red</div>
    <button *ngIf="exchange.accepted === null" (click)="acceptExchange()">
      Accept
    </button>
    <button *ngIf="exchange.accepted === null" (click)="rejectExchange()">
      Reject
    </button>
    <div *ngIf="exchange.accepted === false">
      Waiting for the other user to end it
    </div>
    <button
      (click)="endExchange()"
      *ngIf="
        exchange.accepted &&
        exchange.isActiveLend === null &&
        exchange.isActiveBorr === null
      "
    >
      End
    </button>
    <div *ngIf="exchange.accepted && exchange.isActiveBorr === false">
      Ended by other user
    </div>
    <button
      (click)="deleteExchange()"
      *ngIf="exchange.accepted && exchange.isActiveBorr === false"
    >
      Delete
    </button>
    <div *ngIf="exchange.accepted && exchange.isActiveLend === false">
      Waiting for other user to end
    </div>
  </div>
</div>
