@import "../../../../variables.scss";

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  input {
    outline: none;
    padding: 1rem;
    width: 80%;
    height: 10rem;
    font-size: 5rem;
    border: none;
    border: 1px solid $color-black;
    margin-top: 3rem;
    border-radius: 3rem;
  }

  & > * {
    margin-bottom: 3rem;
  }
}
