<!-- <div class="loading">
  <div class="loading__logo">
    <img
      class="loading__logo-center"
      src="../../assets/logo/circle.png"
      alt="logo-circle"
    />
    <img
      class="loading__logo-center loading__logo-hand1"
      src="../../assets/logo/hand-1.png"
      alt="logo-hand1"
    />
    <img
      class="loading__logo-center loading__logo-hand2"
      src="../../assets/logo/hand-2.png"
      alt="logo-hand2"
    />
    <img
      class="loading__logo-text"
      src="../../assets/logo/borrowlend.png"
      alt="logo-text"
    />
  </div>
</div> -->
<app-item-card [item]="items[0]"></app-item-card>
