<form
  class="form"
  #userlogin="ngForm"
  (ngSubmit)="onClickSubmit(userlogin.value); userlogin.reset()"
>
  <div class="form__group">
    <label for="userName">Username</label>
    <input
      id="userName"
      type="text"
      name="userName"
      placeholder="Enter your username"
      ngModel
    />
  </div>
  <div class="form__group">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Enter your password"
      ngModel
    />
  </div>
  <div class="form__group">
    <button type="submit">Log in</button>
  </div>
</form>
