<form class="form">
  <div class="form__group">
    <label for="userName">Username</label>
    <input
      id="userName"
      type="text"
      class="form-control"
      placeholder="Enter your username"
    />
  </div>
  <div class="form__group">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      class="form-control"
      placeholder="Enter your password"
    />
  </div>
  <div class="form__group">
    <button>Log in</button>
  </div>
</form>
